<%- include('../partials/head') %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/skills"><%= skills.talent %></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/skills">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/skills/new">New Skill</a>
        </li>
        <li><form action="/skills/<%= skills.id%>?_method=PUT" method="POST">
          <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            Edit Skill Name
          </button>
          <div class="collapse collapse-vertical" id="collapseWidthExample">
            <input name="talent">
            <button type="submit" class="btn btn-success" >Edit</button>
          </div>
        </div> 
      </form></li>
      <li><form action="/skills/<%= skills.id%>" method="POST">
        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
          Add Sub Skill
        </button>
        <div class="collapse collapse-vertical" id="collapseWidthExample">
          <input name="sub">
          <button type="submit" class="btn btn-success" >ADD</button>
        </div>
      </div> 
    </form></li>
      </ul>
      </form>
    </div>
  </div>
</nav>
<table class="table table-hover">
<tbody>
  <% subs.forEach(s =>{ %>
    <tr>
  <td><%= s %></td>
  <td>
    <form action="/skills/<%=skills.id%>/<%= s %>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger">X</button>
    </form>
  </td>
  <td><form action="/skills/<%= skills.id%>?_method=PUT" method="POST">
    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
      Edit Sub Skill Name
    </button>
    <div class="collapse collapse-vertical" id="collapseWidthExample">
      <input name="sub">
      <button type="submit" class="btn btn-success" >Edit</button>
    </div>
  </div> 
</form></td>
    </tr>
  <%});%>
</tbody>
</table>
<%- include('../partials/foot') %>
